<% include partials/header %>   

    <div class="container">
        <p>Results: </p>
        <%  if (typeof movies !== "undefined") { %>
        <ul>
        <%
                for ( var i = 0 ; i < movies.length ; i++ ) { 
                    if (movies[i].Type == "movie") {
        %>
            <li>
                <a href="detail/<%= movies[i]['imdbID'] %>"><%= movies[i]['Title'] %></a>
                <p><%= movies[i]['Year'] %></p>
                <p><%= movies[i]['imdbID'] %></p>
                <form action="/addToFavorites" method="post">
                    <input type="submit" value="Add to Favorites">
                    <input type="hidden" name="title"  value="<%= movies[i]['Title'] %>">
                    <input type="hidden" name="year"   value="<%= movies[i]['Year'] %>">
                    <input type="hidden" name="imdbID" value="<%= movies[i]['imdbID'] %>">
                </form>
            </li>
        <%          }; 
                };
        %>
        </ul>
        <%  } else { %>
        <p class="lead">Sorry, no results were found.</p>
        <%  } %>
    </div>

<% include partials/footer %>